*{
    box-sizing: border-box;
}
body{
    margin:0;
    background-color: rgb(81, 81, 204);
}
.input-container{
    height:15vh;
}
.task-container{
    height:85vh;
    color: white;
    text-align: center;
    font-family: 'Original Surfer', cursive;

}
.task{
    list-style: none;
    font-size: 1.25rem;
    background-color: blue;
   /*  backgound visible  */
    width:60vw;
    height: 3.5rem;
    padding: 1rem;
    margin-bottom: 100vh;
    margin:0 auto;
    margin-bottom: 0.5rem;

}
.input_box{
    font-family: 'Original Surfer', cursive;
    height:60%;
    font-size: 1.25rem;
    display:block;
    margin:0 auto;
    margin-top:3vh;
    width: 40vw;
}
.instructions{
    font-size: 1.5rem;
}
@media screen  and (max-width:884px) {
    .input_box{
        width:60vw;
    }
    
}