*{
    box-sizing: border-box;
}
body{
    margin:0px;
    font-family: "Raleway", sans-serif;
    background-color: #ecf0f1;
}
.toolbar{
    height:12vh;
    display:flex;
    background-color: rgba(0, 0, 0, 0.767);
    padding-left: 5rem;
    align-items: center;
}
.filter-container{
    display:flex;
    height: 60%;
    width: 14rem;
    background-color: #636e72;
    margin-right: 4rem;
    border-radius: 0.3rem;
}
.filter{
    height: 100%;
    width: 25%;
    background-color: #636e72;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.filter_color{
    height:35%;
    width:40%;
    border-radius: 0.2rem;
}
.pink{
    background-color:pink;
    
}
.blue{
    background-color: #0984e3;
    
}
.green{
    background-color: aqua;
    
}
.black{
    background-color: black;
    
}
.action-container{
    display:flex;
    height: 60%;
    width: 8rem;
    background-color: #636e72;
    border-radius: 0.2rem;
    
   }
.icon-container{
    display:flex;
    height:100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.fas{
    font-size: 2rem;
    color:white;
}

.modal_container{
    position:absolute;
    height:18rem;
width:36rem;
background-color: brown;
left:calc((100vw - 36rem)/2);
top:30vh;
display: flex;
box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.698);
}
.input_container{
    height: 100%;
    width:73%;
}
.modal_input{
    height: 100%;
    width:100%;
    outline:none;
    padding: 2rem 3rem;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    /*  line between space */
    line-height: 145%;
    font-weight: 400;

}
.modal_filter_container{
 width:27%;
 background-color: #444;
display: flex;
flex-direction: column;
justify-content: space-evenly;
/* gap:2rem; */
align-items: center;
padding: 1.7rem 1.2rem;
}
.modal_filter_container>.filter{
   height: 15%; 
   width:60%; 
   
}

.border{
    border: 3.5px solid white;
}

.active{
    background-color: #474a4b;
}

.main-container{
    height: 88vh;
    /*overflow: auto;*/
    padding-top: 2rem;
    padding-left: 3rem;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.task_container{
    height:10rem;
    width:16rem;
    background-color:  #fff;
}
.task_filter{
    height:7%;
}
.task_desc_container{
    height:80%;
    padding-left:0.5rem;
}
.task_desc{
    height:70%;
    overflow: auto;
    word-break: break-all;
    text-align: center;
}
.uid{
    color: #444;
}


